﻿@model CreateViewModel

@using(Html.BeginForm())
{
    <ul>
        <li>
            @Html.LabelFor(_ => _.Login)
            @Html.EditorFor(_ => _.Login)
            @Html.ValidationMessageFor(_ => _.Login)
        </li>
        <li>
            @Html.LabelFor(_ => _.Password)
            @Html.PasswordFor(_ => _.Password)
            @Html.ValidationMessageFor(_ => _.Password)
        </li>
        <li>
            <button type="submit">Создать</button>
        </li>
    </ul>
}