﻿@model LogonViewModel

@section HeadTitle
{
    Logon
}

@using(Html.BeginForm())
{
    <ul>
        <li>
            @Html.LabelFor(_ => _.Login)
            @Html.TextBoxFor(_ => _.Login)
        </li>
        <li>
            @Html.LabelFor(_ => _.Password)
            @Html.PasswordFor(_ => _.Password)
        </li>
        <li>
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
        </li>
    </ul>
}