﻿@model Chat

@section HeadTitle
{
    ChatRoom: @Model.Title
}

<div class="list-group" id="msg-list">
    @foreach(var msg in Model.Messages)
    {
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">@msg.UserName</h4>
            <p class="list-group-item-text">@msg.Text</p>
        </a>
    }
</div>

<form role="form">
    <div class="form-group">
        <label for="Message">Message</label>
        @Html.TextBox("Message", null, new { placeholder = "Enter message", @class = "form-control" })
    </div>
    <button type="button" class="btn btn-primary" id="msg-sbmt">Submit</button>
</form>

@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function () {

            window.UserName = prompt("Username");

            var chatHub = $.connection.chatHub;

            chatHub.client.broadcastMessage = function (name, message) {

                console.info(name + ":" + message);

                $("#msg-list").append("<a href=\"#\" class=\"list-group-item\">" +
                    "<h4 class=\"list-group-item-heading\">" + name + "</h4>" +
                    "<p class=\"list-group-item-text\">" + message + "</p>" +
                    "</a>");
            };

            console.time("connecting");
            $.connection.hub.start().done(function () {
                console.timeEnd("connecting");
                console.time("join to chat");
                chatHub.server.joinToChat('@Model.Title', window.UserName).done(function () {
                    console.timeEnd("join to chat");
                    console.info("joined to chat");
                })
                    .fail(function (e) {
                        console.timeEnd("join to chat");
                        console.warn("failed to join to chat");
                        console.error(e);
                    });

            })
                .fail(function (e) {
                    console.timeEnd("connecting");
                    console.error(e);
                });


            $('#msg-sbmt').click(function () {

                console.time("send message");
                chatHub.server.send('@Model.Title', window.UserName, $('#Message').val()).done(function () {
                    console.timeEnd("send message");
                    $("html, body").animate({ scrollTop: $(document).height() }, "slow");
                })
                    .fail(function (e) {
                        console.timeEnd("send message");
                        console.error(e);
                    });
            });
        });
    </script>
}
