﻿@model IEnumerable<Chat>

@section HeadTitle
{
    Chats
}


<ul class="list-group">
    @foreach(var chat in Model)
    {
        <li class="list-group-item">
            <a href="@Url.Action("ChatRoom",new{ id = chat.Id})">@chat.Title</a>
            <a class="btn btn-default" href="@Url.Action("DeleteChat",new{ id = chat.Id})">Delete</a>
        </li>
    }
    
    @* TODO: make chat list with table*@
</ul>
<a href="@Url.Action("CreateChat","Base",new{ area = "Base"})" class="btn btn-primary">
    Create
</a>
