﻿@model Chat

@section HeadTitle
{
    Create Chat
}
<div class="container">
    @using(Html.BeginForm())
    {
        <div class="input-group">
            <span class="input-group-addon">Title</span>
            @Html.TextBoxFor(_ => _.Title, new { @class = "form-control", placeholder = "Chat Title" })

        </div>
        <br />
        <button type="submit" class="btn btn-primary btn-group">
            Create
        </button>

    }
</div>
