﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realtime Chat</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/js/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Realtime Chat", "Index", "Base", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Base")</li>
                    <li>@Html.ActionLink("Chat List", "ChatList", "Base")</li>
                    @*<li>@Html.ActionLink("Logon", "Logon", "Account", new { area = "Account" }, null)</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="page-header">
            <h4>
                @RenderSection("HeadTitle")
            </h4>
        </div>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Realtime Chat</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/js")
    <script type="text/javascript" src="@Url.Content("~/signalr/hubs")"></script>
    @* TODO: Remove redunancy*@
    @RenderSection("Scripts", false)
</body>
</html>
